@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #1c1c1c;
  max-height: 1000px;
  min-width: 18rem;
  overflow: hidden;
}

main {
  height: 100%;
}

footer {
  position: relative;
  bottom: 0;
  background: #161616;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

*::selection {
  background: #3ecf8e;
  color: #161616;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.footer-logo-column {
  padding-right: 10%;
}

.footer-logo {
  margin-bottom: 1px;
  width: 14rem;
}

/* columns with links */
.link-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-grow: 1;
}

.link-columns > div {
  flex-grow: 1;
  display: flex;
  gap: 2rem;
}

.link-columns > div > section {
  min-width: 8rem;
  width: 50%;
}

.link-columns ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-weight: 600;
}

.link-columns ul a {
  color: #7e7e7e;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.link-columns ul a:hover {
  color: #f9f9f9;
}

.link-columns h3 {
  color: #f9f9f9;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

/*? Footer bottom */
.footer-bottom {
  margin-top: 8rem;
  width: 100%;
  color: #7e7e7e;
}

.footer-bottom-wrapper {
  max-width: 64rem;
  margin: 0 auto;
  width: 100%;
  padding: 2.5rem 1rem;
  border-top: 1px solid #3e3e3e;
}

.footer-bottom small {
  font-size: 1rem;
  display: inline;
  white-space: nowrap;
}

.footer-bottom > small {
  font-size: 1rem;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .link-columns > div > section {
    min-width: auto;
  }
}

@media (max-width: 600px) {
  .footer-logo {
    display: none;
  }
}
