@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #32cd32;
  overflow-y: auto;
}

.overflow {
  overflow: hidden;
}

.main {
  overflow: auto;
}

.cart-quantity {
  font-size: 22px;
  color: #32cd32;
}

.header.openSearch .navbar a {
  opacity: 0;
  pointer-events: none;
}

.header .navbar a {
  transition: all 0.2s linear;
}

/* search start here  */
.header .search-icon,
.bi-bag, .bi-person,
.bi-cart3 {
  color: #32cd32;
  font-size: 20px;
  cursor: pointer;
}

.bi-person,
.bi-cart3 {
  font-size: 27px;
}


.header .search-box {
  position: absolute;
  right: 300px;
  height: 45px;
  max-width: 900px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.header.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 6px;
  outline: none;
  background: #fff;
  padding: 0 15px 0 45px;
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.search-mobile {
  display: none;
}
/* search end here 
.header .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
*/
a {
  text-decoration: none;
}

header {
  background: #f5f5f5;
  height: 100px;
  min-width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-right img {
  width: 25px;
  color: #32cd32;
}

nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #32cd32;
  margin-left: 40px;
  position: relative;
}

.header svg {
  width: 30px;
  height: 30px;
  color: #32cd32;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 3px;
  background: #32cd32;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.header .nav-menu {
  visibility: hidden;
}

.bi-bag,
.sidebar-search {
  display: none;
}

/* sidebar area */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 280px;
  width: 100%;
  z-index: 999;
  background: #f5f5f5;
  display: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);;
  flex-direction: column;
  
  justify-content: flex-start;
  padding-top: 100px;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.visible {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
}

.no-scroll {
  overflow: hidden;
}

.sidebar-container {
  top: 0;
  bottom: 0;
}

.hide-sidebar {
  position: absolute;
  top: 30px;
  left: 55px;
}

.sidebar-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sidebar-nxt {
  margin: 30px auto;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar p {
  color: #333;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e9ecef;
  text-decoration: none;
  color: black;
}

.sidebar-item:hover {
  background: #f1f1f1;
}
.sidebar-item:last-child {
  border-bottom: none;
}

.sidebar-item .icon {
  font-size: 20px;
  margin-right: 16px;
}

.sidebar-item .arrow {
  margin-left: auto;
  font-size: 20px;
  color: #6c757d;
}

.arrow-cart {
  width: 25px;
  height: 25px;
}

.sidebar-list a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #32cd32;
}

.sidebar-list a:focus {
  color: #333;
  text-decoration: none;
}

.sidebar-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px dotted #32cd32;
  width: fit-content;
  margin: 20px;
  border-radius: 5px;
}

.bi-person-icon {
  font-size: 24px;
  margin-right: 14px;
}

.login {
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 555px) {
  .bi-search {
    display: none;
  }

  .bi-person {
    display: none;
  }

  .bi-bag {
    display: block;
    font-size: 10px;
  }

  .header svg {
    height: 25px;
    width: auto;
  }

  .bi-search-mobile {
    display: block;
    color: #32cd32;
    top: 55%;
    right: 15px;
    transform: translateY(-50%);
    position: absolute;
  }

  .sidebar-search {
    padding: 15px 7px 7px 7px;
    display: grid;
    place-items: center;
    position: relative;
  }

  .sidebar-search input {
    width: 100%;
    height: 30px;
    background: #f5f5f5;
    padding: 7px 4px;
    border: 1px solid #32cd32;
    outline: none;
  }

  .sidebar-search input:active,
  .sidebar-search input:focus {
    border-radius: 14px;
    border: #32cd32;
    outline: 1px solid #32cd32;
  }
  .bi-person-icon {
    font-size: 20px;
    margin-right: 12px;
  }
  
  .login {
    font-size: 14px;
  }

  .logo {
    max-width: 100px;
  }
}

@media (max-width: 1200px) {
  .header .nav-menu {
    visibility: visible;
  }
  .navbar {
    display: none;
  }
  .cart3 {
    display: none;
  }
  .bi-bag {
    display: block;
  }
  .header .search-box {
    top: calc(100%);
    max-width: calc(100% - 50px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    bottom: 50%;
  }

  .bi-person-login {
    display: block;
  }
}

@media (max-width: 1400px) {
  .header .logo {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 1600px) {
  .header {
    padding: 20px 50px;
  }
}

@media (max-width: 2650px) {
  header {
    padding: 20px 100px;
  }
}
