@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

section .launch-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section .launch-container {
    width: 100%;
    background: #f5f5f5;
    padding-bottom: 100px;
}

.launch-soon h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open San";
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  
 .launch-soon h2 span {
    border-bottom: 4px solid limegreen;
    padding-bottom: 7px;
    margin-bottom: 50px;
  }

section a {
    text-decoration: none;
}

section .launch-box {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 50px;
}

section .launch-slider-wrapper { 
    position: relative;
    /*
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; */
}

section .launch-slide-img {
    height: 400px;
    position: relative;
}

section .launch-slide-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

section .launch-detail-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

section .launch-type {
    display: flex;
    flex-direction: column;
}

section .launch-type a {
    color: #000;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 8px;
}

section .launch-type span {
    color: rgba(0, 0, 0, 0.5);
}

section .launch-price {
    color: #000; 
    font-weight: 600;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

section .launch-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

section .launch-buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #32cd32;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

section .launch-buy-btn:hover {
    color: #fff;
    background: #32cd32;
    transition: all ease 0.3s;
}

section .launch-overlay {
    visibility: hidden;
}

section .launch-slide-img:hover .launch-overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section .launch-cs-hidden {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    margin-bottom: 30px;
    
}

section .cs-hidden::-webkit-scrollbar {
    display: none;
}

section .launch-slider-scrollbar {
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .launch-slider-scrollbar:hover .launch-scrollbar-track {
    height: 4px;
}

section .launch-slider-scrollbar .launch-scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

section .launch-slider-scrollbar .launch-scrollbar-track {
    height: 2px;
    width: 100%;
    position: relative;
    border-radius: 4px;
}

section .launch-scrollbar-thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #32cd32;
    border-radius: inherit;
    cursor: grab;
}

section .launch-scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

section .launch-slide-btn {
    height: 50px;
  width: 50px;
  color: #000;
  background: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
/*  color: #fff;
  background: rgb(50, 205, 50);
    top: 40%; */
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  outline: none;
  margin-bottom: 50px;
}

section .launch-slide-btn:hover {
  /*  background: rgba(50, 205, 50, 0.7); */
  border: 1px solid #32cd32;
 color: #32cd32;
}

.launch-nav-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

section .launch-slide-btn#prev-slide {
    left: 10px;
    display: none;
}

section .launch-slide-btn#next-slide {
    right: 10px;
}

@media (max-width: 1023px) {
    .launch-slider-wrapper .launch-cs-hidden {
        gap: 10px;
        margin-bottom: 15px;
    }

    .launch-slider-wrapper .launch-cs-hidden .launch-box {
        height: auto;
    }

    .launch-slider-scrollbar .launch-scrollbar-thumb {
        width: 20%;
    }
}

@media (max-width: 575px) {
    section .launch-box {
        width: 200px;
        margin: 20px;
        margin-bottom: 50px;
    }
    
    section .launch-slide-img {
        height: 250px;
    }

    .launch-soon h2 {
        font-size: 20px;
      }
}