@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container,
.container2 {
  width: 100%;
  height: 135vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.container2 {
  display: none;
}

section .login-page {
  width: 1100px;
  height: 700px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.page-left {
  width: 55%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
}

.page-right {
  width: 45%;
  height: 100%;
  background: linear-gradient(30deg, #32cd32, #1a936f);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-left-active {
  position: absolute;
  right: 0px;
  background: linear-gradient(30deg, #32cd32, #1a936f);
  background: #fff;
  width: 55%;
  height: 100%;
  /* background-image: url(../media/products/blue\ eye.jpeg); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-right-active {
  background: #fff;
  background: linear-gradient(30deg, #32cd32, #1a936f);
  width: 45%;
  height: 100%;
  background: linear-gradient(30deg, #32cd32, #1a936f);
  /* background-image: url(../media/products/blue\ eye.jpeg); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  padding-bottom: 16px;
  font-weight: 700;
}

.acct-title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.login-p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 400;
}

.acct-p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #9a9a9a;
  padding-bottom: 40px;
  text-align: center;
}

button.login-btn {
  width: 220px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.socials {
  display: flex;
  gap: 15px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  background: linear-gradient(30deg, #32cd32, #1a936f);
  color: #f5f5f5;
}

.social-icon:hover {
  border: 1px solid #c4c4c4;
  color: #000;
  background: transparent;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input {
  width: 400px;
  height: 50px;
  background: #c4c4c4;
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}

button.signin-btn {
  width: 220px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(30deg, #32cd32, #1a936f);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin: 20px auto 0px;
}

form img {
  position: relative;
  right: 30px;
  top: 3px;
}

.password-forgot {
  color: #373737;
  color: rgba(0, 0, 255, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-underline-offset: 2px;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
}

.password-forgot:hover {
  color: rgba(0, 0, 255, 1);
}

.messageDiv {
  background: hsl(327, 90%, 28%);
  color: #fff;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  animation: fadeOut 7s forwards;
}

.mobile-view {
  color: #333;
  font-family: "Roboto", sans-serif;
}

.mobile-view a {
  color: rgb(106, 106, 233);
  font-family: "Roboto", sans-serif;
}

.mobile-container2,
.mobile-view,
.mobile-container {
  display: none;
}


@media (max-width: 999px) {
  .mobile-container {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    padding-top: 30px;
  }

  .mobile-container2 {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    padding-top: 30px;
  }

  .container,
  .container2, 
  .mobile-container2 {
    display: none;
  }

  .mobile-view {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .mobile-page {
    width: 95%;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    gap: 2px;
  }

  .mobile-page2 {
    width: 95%;
    height: 700px;
    background: #fff;
    border-radius: 5px;
    display: grid;
    place-items: center;
    gap: 2px;
  }

  .mobile-title {
    font-size: 30px;
    text-transform: uppercase;
  }

  button.signin-btn {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }
  form img {
    right: 10px;
  }

  .mobile-socials {
    display: flex;
    gap: 10px;
  }

  .mobile-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background: linear-gradient(30deg, #32cd32, #1a936f);
    color: #f5f5f5;
  }

  .mobile-social-icon:hover {
    border: 1px solid #c4c4c4;
    background: transparent;
    color: #000;
  }

  .mobile-p {
    font-size: 18px;
    padding-bottom: 1px;
    color: #9a9a9a;
  }
}

@media (max-width: 768px) {
  .mobile-p {
    font-size: 18px;
    padding-bottom: 20px;
  }

  button.login-btn,
  button.signin-btn {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }

  form input {
    width: 300px;
    height: 40px;
  } 

  .password-forgot {
    font-size: 16px;
  }

  .mobile-title {
    font-size: 25px;
  }
}

@media (max-width: 555px) {

  .mobile-title {
    font-size: 20px;
  }

  .mobile-p {
    font-size: 16px;
  }

  button.login-btn,
  button.signin-btn {
    width: 160px;
    height: 35px;
    font-size: 12px;
  }

  form input {
    width: 250px;
    height: 35px;
  }

  .password-forgot {
    font-size: 14px;
  }

  form img {
    right: 5px;
  }
}

@media (max-width: 300px) {
  form img {
    display: none;
  }

  form input {
    width: 200px;
    height: 30px;
  }

  .mobile-page, .mobile-page {
    width: 100%;
  }
}
