@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #32cd32;
}

.main {
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;

  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.main-box {
  margin-top: 100px;
}

.page-title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 18px;
  color: #fff;
  margin-top: 200px;
  font-family: "Roboto";
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  column-gap: 50px;
  align-items: start;
}

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .checkout-grid {
    grid-template-columns: 1fr;
  }
}

.cart-item-container,
.payment-summary {
  border: 1px solid rgb(222, 222, 222);
  background: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
}

.cart-item-container {
  margin-bottom: 12px;
  padding-top: 20px;
  padding-bottom: 1px;
}

.payment-summary {
  padding-bottom: 5px;
}

.mobile {
  visibility: hidden;
  display: none;
}

.web {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .payment-summary {
    grid-row: 1;
    margin-bottom: 12px;
  }
  .web {
    display: none;
  }
  .mobile {
    visibility: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
  }
}

.cart-item-details-grid {
  display: grid;
  grid-template-columns: 100px 100fr 1fr;
  column-gap: 25px;
}

.cart-item-details {
  gap: 1px;
}

@media (max-width: 1000px) {
  .cart-item-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.product-image {
  max-width: 100%;
  max-height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.product-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 20px;
}

.product-name span {
  display: block;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.product-name p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}

.mobile-text {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 700;
}

.product-price {
  color: rgb(177, 39, 4);
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

svg {
  cursor: pointer;
}

.product-quantity .web-delete {
  padding-top: 100px;
}

@media (max-width: 1000px) {
  .delivery-options {
    grid-column: 1 / span 2;
  }
}

.delivery-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.delivery-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.delivery-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.delivery-option-date {
  color: rgb(0, 118, 0);
  font-weight: 500;
  margin-bottom: 3px;
}

.delivery-option-price {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.payment-summary-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
  font-family: "Open San";
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;

  font-size: 15px;
  margin-bottom: 9px;
}

.payment-summary-money {
  text-align: right;
}

.subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}

.subtotal-row div {
  padding-top: 9px;
}

.total-row {
  color: rgb(177, 39, 4);
  font-weight: 700;
  font-size: 18px;
  border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}

.place-order-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  margin-top: 11px;
  margin-bottom: 15px;
  background: #32cd32;
  border: 1px solid #32cd32;
  color: #f5f5f5;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Open Sans";
  cursor: pointer;
}

.checkout-item {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 20px;
  font-weight: 500;
  font-family: "Open Sans";

  display: flex;
  justify-content: space-between;
  color: #f5f5f5;
}