@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

section .newsletter {
  background-image: url(../media/products/starring\ art.jpeg);
  width: 100%;
  height: auto;
  background-size: auto;
  display: grid;
  place-items: center;
}

section .newsletter h1 {
  color: #f5f5f5;
  text-transform: uppercase;
  font-family: "Roboto";
}

section .newletter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  gap: 20px;
}

section .newsletter input {
  width: 500px;
  height: 50px;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #fff;
  background: #fff;
}

section .newsletter button {
  background: #32cd32;
  color: #fff;
  width: 200px;
  height: 50px;
  border: 1px solid #32cd32;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto";
}

section .newsletter a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}

section .newsletter a:hover,
a:focus,
a:active {
  text-decoration: underline;
  color: rgb(0, 102, 255);
}

@media (max-width: 2000px) {
  section .newletter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
  }
  section .newsletter h1 {
    font-size: 40px;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  section .newsletter {
    padding: 100px 20px;
  }
}

@media (max-width: 999px) {
  section .newletter-box {
    display: grid;
    place-items: center;
  }

  section .newsletter h1 {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  section .newsletter {
    background-size: cover;
    padding: 30px 20px;
  }
  section .newsletter h1 {
    font-size: 20px;
    color: #f5f5f5;
    padding-bottom: 5%;
  }
  section .newletter-box {
    margin-bottom: 10%;
  }
  section .newsletter input {
    max-width: 300px;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 5%;
  }

  section .newsletter button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
  }
  section .newsletter a,
  p {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
    section .newsletter h1 {
        font-size: 16px;
      }
    section .newsletter {
        padding: 20px 10px;
      }
      section .newsletter input {
        max-width: 200px;
        height: 50px;
        border-radius: 30px;
        padding: 10px 20px;
        margin-bottom: 5%;
        font-size: 15px;
        padding: 5px;
      }
    
      section .newsletter button {
        width: 150px;
        height: 50px;
        border-radius: 30px;
      }
      section .newsletter a,
  p {
    font-size: 12px;
  }
}