@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

section .products {
  display: block;
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding-top: 50px;
}

section .products-grid {
  display: grid;
}

section .products h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open San";
  display: grid;
  place-items: center;
  padding-bottom: 90px;
}

section .products h2 span {
  border-bottom: 4px solid limegreen;
  padding-bottom: 7px;
}

section .products-box {
  padding-top: 25px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

section .products-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  display: inline-block;
  position: relative;
  z-index: 5;
}

section .products-img {
  max-width: 100%;
  height: 100%;

  display: block;
  margin: 0 auto;
}

section .products-box button {
  background: #32cd32;
  color: #f5f5f5;
  border: 1px solid #32cd32;
  width: 180px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;

  position: absolute;
  z-index: 9;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

section .products-box button:hover {
  background: #f5f5f5;
  color: #32cd32;
  border: 1px solid #32cd32;
}

section .products-box:hover .cart-btn {
  visibility: visible;
}

section .products-box:hover .cart-svg-btn {
  visibility: hidden;
}

section .cart-btn {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  visibility: hidden;
}

section .cart-svg-btn {
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  visibility: visible;
}

section .cart-svg-btn:hover {
  visibility: hidden;
}

section .products-box:hover img {
  opacity: 0.7;
  transition: all ease 0.3s;
}
/*
section .products-box:hover {
  transform: scale(1.2);
  transition: all 0.3s;
} */

section .products-box:hover .hover-btn {
  opacity: 1;
}

section .price {
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Open San";
  display: grid;
  place-items: center;
}

section .products-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

section .products .products-btn button {
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #32cd32;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: #32cd32;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
}

section .products-type-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 3px 30px 3px;
  box-sizing: border-box;
}

section .products-type {
  display: flex;
  flex-direction: column;
}

.products-type a {
  color: #000;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.products-type span {
  color: rgba(0, 0, 0, 0.5);
}

.products-price {
  color: #000;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

@media (max-width: 2800px) {
  section .products-grid {
    grid-template-columns: repeat(7, 1fr);
  }
  section .products-type-box {
    padding: 15px 40px 30px 40px;
  }
}

@media (max-width: 2000px) {
  section .products-type-box {
    padding: 15px 20px 30px 20px;
  }
}

@media (max-width: 1600px) {
  section .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  section .products-type-box {
    padding: 15px 10px 30px 10px;
  }
}

@media (max-width: 1400px) {
  section .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1200px) {
  section .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 999px) {
  section .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  section .products-type-box {
    padding: 15px 10px 30px 10px;
  }
}

@media (max-width: 555px) {
  section .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  section .products-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  section .products .products-btn button {
    margin-bottom: 5%;
  }

  section .products-box {
    margin-bottom: 10%;
  }

  section .products-box button {
    width: 120px;
    height: 40px;
    border-radius: 5px;
  }

  section .cart-svg-btn {
    font-size: 20px;
  }
  section .products-type-box {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 25px 10px;
  }
}

@media (max-width: 300px) {
  section .products-grid {
    grid-template-columns: 1fr;
  }
}
