@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

section .category {
  display: block;
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding-top: 50px;
}

section .category h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open San";
  display: grid;
  place-items: center;
  padding-bottom: 90px;
}

section .category h2 span {
  border-bottom: 4px solid limegreen;
  padding-bottom: 7px;
}

section .category-box {
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

section .category-img-box {
  height: 500px;
  position: relative;
}

section .category-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  cursor: pointer;
}

section .category-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

section .category .shop-btn {
  width: 150px;
  height: 50px;
  display: flex;
  background: #fff;
  color: #32cd32;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-transform: uppercase;

  justify-content: center;
  align-items: center;

  display: none;
}

section .category-overlay .shop-btn:hover {
  color: #fff;
  background: #32cd32;
  transition: all ease 0.3s;
}

section .category-img-box:hover .category-overlay {
  transition: all ease 1s;
  background: rgba(0, 0, 0, 0.3);
}

section .category-img-box:hover .category-overlay a {
  display: none;
}

section .category-img-box:hover .category-overlay .shop-btn {
  display: flex;
  align-items: center;
  visibility: visible;
}


section .category-overlay a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 22px;
  font-family: "Robot", sans-serif;
  font-weight: 400;
}

section .category-grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1600px) {
  section .category-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  section .category-box {
    width: 350px;
  }

  section .category-img-box {
    height: 450px;
  }
}

@media (max-width: 1200px) {
  section .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  section .category-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  section .category h2 {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  section .category-box {
    width: 250px;
  }

  section .category-img-box {
    height: 350px;
  }

  section .category h2 {
    font-size: 12px;
  }
}



/*
section .category {
  display: block;
  width: 100%;
  height: auto;
  background: #f5f5f5;
  padding-top: 5%;
}

section .category h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  
  font-family: "Open San";
  display: grid;
  place-items: center;
}

section .category h2 span {
  border-bottom: 4px solid limegreen;
  padding-bottom: 7px;
}

section .category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section .category-box {
  padding-top: 100px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
}

section .category-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-bottom: 20px;

  display: inline-block;
  position: relative;
  z-index: 5;
}

section .category-img {
  max-width: 100%;
  max-height: 100%;

  display: block;
  margin: 0 auto;
}

section .cat-btn .hover-btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background: #fff;
  color: #32cd32;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;

  text-transform: uppercase;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

section .cat-btn .hover-btn:hover {
  background: #32cd32;
  color: #fff;
  border: 1px solid #32cd32;
}

section .category-box:hover img {
  opacity: 0.5;
  transform: scale(1.2);
  transition: all 0.3s;
}

section .category-box:hover .category-btn {
  opacity: 1;
}

section img {
  cursor: pointer;
}

@media (max-width: 999px) {
  section .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  section .category-img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 655px) {
  section .category h2 {
    font-size: 22px;
    padding-top: 30px;
    display: grid;
    place-items: center;
  }
  section .category h2 span {
    border-bottom: 3px solid limegreen;
  }
  section .category-center {
    display: grid;
  }
  section .category-box {
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
  section .category-img-box {
    max-height: 500px;
    margin-bottom: 20px;
  }
  section .category-img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 356px) {
  section .category-img {
    min-width: 100%;
    min-height: 50%;
    object-fit: cover;
  }
}

*/
