@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

section .top-rated {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

section .top-rated-container {
  width: 100%;
  background: #f5f5f5;
  padding-bottom: 50px;
}

.top-rated .top-rated-container h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open San";
  display: grid;
  place-items: center;
  cursor: pointer;
}

.top-rated .top-rated-container h2 span {
  border-bottom: 4px solid limegreen;
  padding-bottom: 7px;
  margin-bottom: 50px;
}

section a {
  text-decoration: none;
}

section .top-rated-box {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: 24px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 40px;
}

section .top-rated-slider-wrapper {
  position: relative;
  /*
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; */
}

section .top-rated-slide-img {
  height: 400px;
  position: relative;
}

section .top-rated-slide-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

section .top-rated-detail-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

section .top-rated-type {
  display: flex;
  flex-direction: column;
}

section .top-rated-type a {
  color: #000;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

section .top-rated-type span {
  color: rgba(0, 0, 0, 0.5);
}

section .top-rated-price {
  color: #000;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

section .top-rated-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(245, 245, 245, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

section .top-rated-buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #32cd32;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

section .top-rated-buy-btn:hover {
  color: #fff;
  background: #32cd32;
  transition: all ease 0.3s;
}

section .top-rated-overlay {
  visibility: hidden;
}

section .top-rated-slide-img:hover .top-rated-overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section .top-rated-cs-hidden {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 30px;
}

section .cs-hidden::-webkit-scrollbar {
  display: none;
}

section .slider-scrollbar {
  height: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

section .slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

section .slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  position: relative;
  border-radius: 4px;
}

section .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #32cd32;
  border-radius: inherit;
  cursor: grab;
}

section .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

section .slide-btn {
  height: 50px;
  width: 50px;
  color: #000;
  background: #fff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
/*  color: #fff;
  background: rgb(50, 205, 50);
    top: 40%; */
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  outline: none;
  margin-bottom: 50px;
}

section .slide-btn:hover {
 /* background: rgba(50, 205, 50, 0.7); */
 border: 1px solid #32cd32;
 color: #32cd32;
}

section .slide-btn#prev-slide {
  left: 10px;
  display: none;
}

section .slide-btn#next-slide {
  right: 10px;
}

.nav-btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1023px) {
  .slider-wrapper .slide-btn {
    display: none !important;
  }

  .slider-wrapper .cs-hidden {
    gap: 10px;
    margin-bottom: 15px;
  }

  .slider-wrapper .cs-hidden .box {
    height: auto;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

@media (max-width: 575px) {
  section .top-rated-slide-img {
    height: 250px;
  }
  section .top-rated-box {
    width: 200px;
    margin: 20px;
  }
  .top-rated .top-rated-container h2 {
    font-size: 20px;
  }
}